@model Personal.Models.Exercise

@section Styles {
  <link rel="stylesheet" href="~/css/CssExercise/mainexercise.css">
  <link rel="stylesheet" href="~/css/site.css">
  <link rel="stylesheet" href="~/css/CssExercise/responsiveexercise">
}


<section class="apresentation-test">
  <div class="textos">
    <h1 class="frase">@Model.Descricao</h1>
    <h2 class="title">@Model.Nome</h2>
  </div>
  <img src="@Model.Imagem" class="Freeman-Romberg">
</section>


<section class="titulo-tabela-1">
  <h1 class="title">@Model.Titulo</h1>
</section>


<section class="informations">
  <p class="p2">
 @foreach (var item in Model.Info)
{
    <p>→ @item</p>
}

  </p> 
  <img src="@Model.Tabela" class="tabela-freeman">
</section>

<section class="results"></section>