@model IEnumerable<Personal.Models.Exercise>

@section Styles {
  <link rel="stylesheet" href="~/css/CssQuick/mainquick.css">
  <link rel="stylesheet" href="~/css/site.css">
  <link rel="stylesheet" href="~/css/CssQuick/resetquick.css">
}


<section class="apresentation-test">
  <div class="textos">
    <h1 class="frase">@Html.DisplayNameFor(model => model.Descricao) </p>
      <h2 class="title">@Html.DisplayNameFor(model => model.Nome)
    </h1>
  </div>
  <img src="@Html.DisplayNameFor(model => model.Imagem) "
    class="Freeman-Romberg">
</section>

<section class="titulo-tabela-1">
  <h1 class="title">@Html.DisplayNameFor(model => model.Titulo) </h1>
</section>


<section class="informations">
  <p class="p2">
    @foreach (var item in Model)
    {
      @Html.DisplayNameFor(modelItem => item.Info)
    }
  </p>
  <img src="@Html.DisplayNameFor(model => model.Tabela)" class="tabela-freeman">
</section>

<section class="results"></section>