@model IEnumerable<Personal.Models.Exercise>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Exercícios</h1>

@foreach (var item in Model)
{
  @if (item.Id % 2 == 1)
  {
    <div class="box">
      <div class="image">
        <img src="@Html.DisplayFor(modelItem => item.ImagemAux)" alt="">
      </div>
      <div class="content">
        <img src="@Html.DisplayFor(modelItem => item.Icon)" alt="">
        <h3>@Html.DisplayFor(modelItem => item.NomeAux)</h3>
        <p>@Html.DisplayFor(modelItem => item.SubTitulo)</p>
        <a asp-action="Quick" href="@Html.DisplayFor(modelItem => item.Id)" class="btn">Saiba mais</a>
      </div>
    </div>
  }
  else
  {
    <div class="box second">
      <div class="image">
        <img src="@Html.DisplayFor(modelItem => item.ImagemAux)" alt="">
      </div>
      <div class="content">
        <img src="@Html.DisplayFor(modelItem => item.Icon)" alt="">
        <h3>@Html.DisplayFor(modelItem => item.NomeAux)</h3>
        <p>@Html.DisplayFor(modelItem => item.SubTitulo)</p>
        <a href="@Html.DisplayFor(modelItem => item.Id)" class="btn">Saiba mais</a>
      </div>
    </div>
  }
}